

body, h1, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    position: fixed;
}
h1 {
    position: fixed;
    left: 45%;
    font-size: 1.5em;
    color: #000;
}
form {
    width: 400px;
    position: fixed;
    top: 4vh;
    left: 38vw;
}
#hbimg{
    width: 5%;
    height: 8%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
}
#signup{
    position: fixed;
    top: 58.8%;
    left: 55%;
} 
#reg{
    position:relative;
    left: 53vw;
    top: 55vh;
    width: 14vw;
    height: 2vh;
    padding-top: 5px;
    padding-left: 15px;
    overflow: visible;
}

