<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="{{url_for('static', filename='css/listings.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  
    <title>House Listings</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .listing {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }

        .price {
            color: rgb(194, 143, 68);
            font-weight: bold;
        }

        .title {
            text-align: center;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/homebase.png')}}" alt="" class="mainlog"></a>
          <a class="navbar-brand text-brand" href="{{url_for('home')}}">Home<span class="color-b">Base</span></a>
          <a href="{{url_for('login')}}"><img id = "profilepic"src="{{url_for('static', filename='img/profile.png')}}"></a>
    
          <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <i class="bi bi-search"></i>
          </button>
    
        </div>

    <div class="listing">
        <img src = "171_Granger_Rd.webp" alt = ""/>
        <h2>171 Granger Rd, Medina, OH 44256</h2>
        <p class="price">$230,000</p>
        <p>Spacious 3-bedroom, 2-bathroom home with a large backyard. Close to schools and parks.</p>
        <a href="#">View Details</a>
    </div>

    <div class="listing">
        <h2>193 White Pond Dr, Akron, OH 44313</h2>
        <p class="price">$250,000</p>
        <p>1-bedroom, 1-bathroom condo in the heart of the city. Close to public transportation and shopping.</p>
        <a href="#">View Details</a>
    </div>

    <div class="listing">
        <h2>3324 Poe Rd, Medina, OH, 44256</h2>
        <p class="price">$150,000</p>
        <p>Quaint 2-bedroom cottage with a lake view. Perfect for a weekend getaway or year-round living.</p>
        <a href="#">View Details</a>
    </div>

    <div class="listing">
        <h2>6792 W Smith Rd, Medina, OH, 44256</h2>
        <p class="price">500,000</p>
        <p>Quaint 2-bedroom cottage with a lake view. Perfect for a weekend getaway or year-round living.</p>
        <a href="#">View Details</a>
    </div>

    <div class="listing">
        <h2>7243 Spieth Rd, Medina, OH 44256</h2>
        <p class="price">259,500</p>
        <p>Quaint 2-bedroom cottage with a lake view. Perfect for a weekend getaway or year-round living.</p>
        <a href="#">View Details</a>
    </div>

    <div class="listing">
        <h2>3560 Allard Rd, Medina, OH 44256</h2>
        <p class="price">259,500</p>
        <p>Spacious bedrooms, beautiful cathedral ceilings, sits on 8.5 acres</p>
        <a href="#">View Details</a>
    </div>

</body>

</html>
